.forms {
  border: 1px solid #aeaeae;
  border-radius: 5px;
  background: #313749;
  padding: 20px;
  text-align: center;
  color: #ecd800;
  margin: 120px auto;
  max-width: 400px;
}

.forms > div > input {
  background: border-box;
}

.forms > button {
  border: 1px solid #aeaeae;
  font-size: 18px;
  padding: 10px;
  color: #ecd800;
  margin-bottom: 20px;
}

.forms > button:hover {
  border: 1px solid #ecd800;
  color: #ecd800;
  background-color: #222735;
}

.forms > button > i {
  color: #ecd800;
  font-size: 18px;
  padding: 10px;
}

.forms > button > a {
  color: #ecd800;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}

.errors > p {
  color: red;
}
